.description.box
  %span.question="What is BOOTYARD?"
  %br
  %span="Bootyard is a team of Ruby on Rails developer based on Cebu, City Philippines."
  %br
  %br
  %span.question="What we do?"
  %br
  %span="We could say a lot of stuff about this,"
  %br 
  %span= "but the bottomline is:"
  %br
  %span.highlight="We materialize your great product idea to awesome code. :)" 
  %br
  %span.question="What drives us?"
  %br
  %span= "We value brilliant ideas and the awesome people who comes up with it. That said, we only take projects that we are very passionate and interested about."
  %br
  %span.highlight= "WE CODE FOR THE IDEAS WE BELIEVE IN"
  %br
.tools.box
  %span.question= "Some of the Stuff we use:"
  %a{:class => 'ror', :url => "http://rubyonrails.org/" }
    = image_tag '/images/tools/rails.png'
  %a{:class => 'jquery', :url => ""}
    = image_tag '/images/tools/jquery.gif'
  %a{:class => 'ubuntu', :url => ""}
    = image_tag '/images/tools/ubuntu.png'
  %a{:class => 'sass', :url => ""}
    = image_tag '/images/tools/sass.gif'
  %a{:class => 'haml', :url => ""}
    = image_tag '/images/tools/haml.gif'
  %a{:class => 'git', :url => ""}
    = image_tag '/images/tools/git.png'
.team
  %span.question= "The Team:"
  %br
  %br
  .ademar.box
    = image_tag '/images/photos/ademar.jpg', :class => 'profile_image'
    .name= "Ademar M. Tutor"
    .quote= '"Conquering the world one awesome app at a time. :)"'
    .credentials
      = "My Links:"
      %br
      %br
      = link_to "Github", "https://github.com/ademar11"
      = link_to "LinkedIn", "http://ph.linkedin.com/pub/ademar-tutor/2a/597/a9"
      = link_to "Odesk", "https://www.odesk.com/users/Ruby-Rails_~~e95e74c8ad8207e1"
      %br
      = link_to "Blog", "http://iamademar.com"
      = link_to "Twitter", "http://twitter.com/iamademar"
      = link_to "Facebook", "http://www.facebook.com/i.am.ademar"

  .ademar.box
    = image_tag '/images/photos/ademar.jpg', :class => 'profile_image'
    .name= "Gerda Decio"
    .quote= '"Conquering the world one awesome app at a time. :)"'
    .credentials
      = "My Links:"
      %br
      %br
      = link_to "Github", "https://github.com/ademar11"
      = link_to "LinkedIn", "http://ph.linkedin.com/pub/ademar-tutor/2a/597/a9"
      = link_to "Odesk", "https://www.odesk.com/users/Ruby-Rails_~~e95e74c8ad8207e1"
      %br
      = link_to "Blog", "http://iamademar.com"
      = link_to "Twitter", "http://twitter.com/iamademar"
      = link_to "Facebook", "http://www.facebook.com/i.am.ademar"

